@charset "utf-8";
body{
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}
p,h2,h3,h4,h5,h6{
  margin-top: 0;
}
img{
  vertical-align: bottom;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  color: #3583aa;
  text-decoration: none;
}
a:visited{
  color: #788d98;
}

a:hover{
  text-decoration: underline;
}
header{
  width: 960px;
  height: 100px;
  margin: 0 auto;
}
.logo{
  float: left;
  margin-top: 50px;
}
.global-nav{
  float: right;
  margin-top: 60px;
}
.global-nav li{
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}
.global-nav li a{
  color: #ffffff;
}
.global-nav li a:hover{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}
#wrap{
  clear: both;
  background-color: #ffffff;
  margin-top: 220px;
  padding: 35px 0;
}
.content{
  width: 960px;
  margin:0 auto;
}
footer{
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}
footer small{
  font-size: 12px;
}
#index h1,h2{
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Bitter', serif;
  margin-bottom: 50px;
  border: none;
}
#index .content{
  margin-top: 150px;
}
#index p{
  font-size: 16px;
  color: #ffffff;
}
.btn a{
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin: auto;
}
.btn a:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}
#index footer{
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  background-color: transparent;
}
#index{
  background-image: url(../images/top2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
#form{
    width: 400px;
    margin: 30px auto;
    padding: 30px;
}
text{
 width: 400px;
    padding: 4px;
    font-size: 14px;
}
form p{
    font-size: 14px;
}
.form-title{
    text-align: center;
}
.userid,.pass{
    margin-bottom: 20px;
}
input[type="userid"],
input[type="password"] {
    width: 400px;
    padding: 4px;
    font-size: 14px;
}
input[type="submit"] {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin: auto;
}
input[type="submit"] :hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}
a:link { color: #ffffff; }
a:visited { color: #ffffff; }
a:active { color: #ff8000; }
#about{
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
.main-center{
  width: 940px;
  margin: 0 auto;
}
h1{
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}
h2{
  font-family: 'Bitter', serif;
  font-size: 24px;
}
.icon:before{
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}
.profile-txt{
  width: 540px;
  float: left;
}
.profile-txt span{
  font-weight: bold;
}
.profile-image{
  float: right;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
section{
  margin-bottom: 35px;
}
.career th{
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px 0;
  border: 1px solid #cccccc;
}
.career td{
  width: 660px;
  padding: 12px 40px;
  border:1px solid #cccccc;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
#index #wrap{
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}
#portfolio{
  background-image: url(../images/bg-portfolio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
.main{
  width: 700px;
  margin: 0 10px;
  float: left;
}
.sidebar{
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter', serif;
}
.sidebar h2{
  margin-bottom: 10px;
}
.sidebar ul{
  font-size: 16px;
  margin-left: 20px;
}
.sidebar ul a{
  color: #33333;
}

a img:hover{
  opacity: 0.8;
}
#contact{
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
.access table{
  float: left;
}
.access th,
.access td{
  text-align: left;
  vertical-align: top;
  line-height: 2.5;
}
.access td{
  padding-left: 30px;
}
.access iframe{
  width: 460px;
  float: right;
}
.form{
  background-color: #eaeaea;
  padding: 30px 50px;
}
.form dl dt{
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
}
.form dl dd{
  padding: 10px 0;
}
.name{
  width: 300px;
  height: 30px;
}
.email{
  width: 300px;
  height: 30px;
}
.tel{
  width: 300px;
  height: 30px;
}
.message{
  width: 660px;
  height: 150px;
}
.type{
  width: 180px;
  height: 30px;
}
.message{
  width: 660px;
  height:  150px;
}
.form button{
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 120px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin: auto;
  margin-left: 165px;
}
.form button:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
  cursor: pointer;
}
.required:after{
  content: "*";
  color: #ff0000;
}
.attention{
  margin: 20px 0 0 165px;
}

.form01{
  background-color: #eaeaea;
  padding: 30px 50px;
}
.form01 dl dt{
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
}
.form01 dl dd{
  padding: 10px 0;
}
.Location{
width: 400px;
  height: 30px;
}
.id{
  width: 300px;
  height: 30px;
}
.password{
  width: 300px;
  height: 30px;
}
.passwordConfirm{
  width: 300px;
  height: 30px;
}
